/**
Colors
 */

$font-white: #ffffff;
$font-dark: #000000;
$nav-link-color: #ffffff;
$nav-link-color-dark: #000000;
$hamburger-white: #ffffff;
$hamburger-dark: #000000;
$fade-in-on-load: #72720F;
$body-background-color: #ffffff;
$nav-background-dark: #000000;
$nav-background-green: #4F6242;
