/**
Global CSS
*/

body {
  background-color: $fade-in-on-load;
  transition: background-color 1.8s ease;
  opacity: 0;
  transition: opacity 1.8s ease;
}

body.loaded {
  background-color: $body-background-color;
  opacity: 1;
}

#site-header {
  background-color: transparent !important;
}

#main {
  #content-wrap {
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 767px) {

}

